# Dependências de node
node_modules/

# Arquivos de ambiente
.env

# Arquivos de configuração do VS Code
.vscode/

# Logs do npm
npm-debug.log
yarn-error.log

# Diretórios de build (caso haja)
build/
dist/

# Sistema de arquivos do Mac
.DS_Store
